<div class="h-screen">
  <div class="w-full flex justify-center pt-10">
    <p class="text-5xl font-secondary text-color3 px-5 justify">
      About <span class="text-5xl font-secondary text-color1"> me! </span>
    </p>
  </div>
  <div class="flex p-20">
    <!-- Profile picture -->
    <div class="w-[50%]">
      <figure class="w-[70%] h-[500px] relative">
        <div class="w-[100%] h-[100%] bg-color4 absolute left-8 top-8"></div>
        <img src="assets/img/about_me.jpg" alt="" class="w-[100%] h-[100%] absolute z-10 object-cover hover:scale-[.95] transition-all duration-500">
      </figure>
    </div>
    <!-- About me -->
    <div class="w-[50%]">
      <p class="text2xl text-color6 pt-4">
        Hi, I'm Marc – a passionate traveler, explorer, and storyteller with a love for discovering new places and cultures. Through this site, I share my journey to hidden gems, breathtaking landscapes, and bustling cities around the world. My goal is to inspire others to see the world’s beauty, embrace the adventure, and learn from every experience.
      </p>
      <p class="text2xl text-color6 pt-4">
        Whether it's hiking through mountain trails, savoring street food in a foreign city, or meeting incredible people along the way, I aim to capture these moments and offer tips that make travel accessible and enjoyable for everyone. Join me as I explore, share practical travel guides, and uncover the magic of each destination. Let’s start your next adventure here!
      </p>
      <p class="text2xl text-color6 pt-4">
        If you have any questions, you can drop me an e-mail at <b>yatras.tours (at) gmail.com.</b>
      </p>

      <!-- Countries and cities visited -->
      <div class="flex pt-10">
        <div class="w-[50%]">
          <span class="text-8xl font-mono">31</span>
          <span> Countries visited </span>
        </div>
        <div class="w-[50%]">
          <span class="text-8xl font-mono">154</span>
          <span> Cities visited </span>
        </div>
      </div>
    </div>
  </div>
</div>
