<div class="w-full h-screen flex justify-center bg-color5">
  <div class="w-full container flex justify-between flex-wrap px-0 2xl:px-36 h-auto py-16 ">
    <div class="w-full lg:w-[50%]  bg-color px-5 ">
      <p class="text-color4 uppercase">Trip to {{trip.country}} </p>
      <p class="text-color3 text-5xl font-bold uppercase font-secondary my-4" >Discover the <span class="text-color1"> world</span> with our guide</p>

      <!-- Charts for activities  describing the trip -->
      <div class="flex pb-14">
        <div class="chart-container h-32 w-32">
            <canvas  id="nature-donut" >{{ charts[0] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="relax-donut" >{{ charts[1] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="history-donut" >{{ charts[2] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="culture-donut" >{{ charts[3] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="nightlife-donut" >{{ charts[4] }}</canvas>
        </div>
      </div>

      <p class="text-color6">{{trip.description}}</p>
      <p class="text-color6 my-4">Hotel ut nisl quam nestibulum ac quam nec odio elementum ceisue the miss varius natoque penatibus et magnis dis parturient monte.</p>
      <div class="flex items-center"> <i class="bi bi-check text-white bg-color4  rounded-[50%] px-2 py-1 me-3"></i> <p class="text-color6">20 Years of Experience</p></div>
      <div class="flex items-center my-4"> <i class="bi bi-check text-white bg-color4  rounded-[50%] px-2 py-1 me-3"></i> <p class="text-color6">150+ Tour Destinations</p></div>
      <div class="flex items-center"><i class="bi bi-telephone-forward text-color1 text-2xl me-3"></i><div><p class="text-color6 ">For information</p><p class="text-color6 text-2xl">09188085590</p></div></div>
    </div>
    <div class=" w-full lg:w-[50%]   flex flex-col justify-center items-center bg-color5 h-auto pb-8 lg:pb-0 mt-10 lg:mt-0 ">
      <figure class="w-[70%] h-[500px] relative">
        <div class="w-[100%] h-[100%] bg-color4 absolute left-8 top-8"></div>
        <img src="assets/img/{{trip.country}}/description.jpg" alt="" class="w-[100%] h-[100%] absolute z-10 object-cover hover:scale-[.95] transition-all duration-500">
      </figure>
    </div>
  </div>
</div>

<app-trip-inscription-form></app-trip-inscription-form>
