<div class="w-full flex justify-center bg-color5">
  <div class="w-full container flex justify-between flex-wrap px-0 2xl:px-36 h-auto py-16 ">
    <div class="w-full lg:w-[50%]  bg-color px-5 ">
      <p class="text-color4 uppercase">Trip to {{trip.country}} </p>
      <p class="text-color3 text-5xl font-bold uppercase font-secondary my-4" >Discover the <span class="text-color1"> world</span> with our guide</p>

      <!-- Charts for activities  describing the trip -->
      <div class="flex pb-14">
        <div class="chart-container h-32 w-32">
            <canvas  id="nature-donut" >{{ charts[0] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="relax-donut" >{{ charts[1] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="history-donut" >{{ charts[2] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="culture-donut" >{{ charts[3] }}</canvas>
        </div>
        <div class="chart-container h-32 w-32">
            <canvas  id="nightlife-donut" >{{ charts[4] }}</canvas>
        </div>
      </div>

      <!-- Trip description -->
      <div>
        <h1>Trip description</h1>
        <p class="text-color6">{{trip.description}}</p>
      </div>

      <!-- What to bring for Jordan -->
      <div class="pt-4">
        <h1>What to bring:</h1>
        <p class="text-color6">Pasaporte: en vigor y con validez mínima de 6 meses desde la entrada al país. Visado: compra online tu Jordan Pass (asegúrate de hablar antes con el coordinador, cuando cree el grupo de Whatsapp 15 días antes de la salida de tu viaje). Antes de reservar, recuerda visitar la página web del MAEC.</p>
      </div>

    </div>

    <!-- Image carousel -->
    <div class=" w-full lg:w-[50%] flex flex-col justify-center items-center bg-color5 h-auto pb-8 lg:pb-0 mt-10 lg:mt-0 ">
      <figure class="w-[70%] h-[500px] relative">
        <div class="w-[100%] h-[100%] bg-color4 absolute left-8 top-8"></div>
        <img src="assets/img/{{trip.country}}/description.jpg" alt="" class="w-[100%] h-[100%] absolute z-10 object-cover hover:scale-[.95] transition-all duration-500">
      </figure>
    </div>

    <!-- Inscription to trip -->
    <div class="w-[100%] h-20 border-2 shadow bg-white rounded-md flex items-center justify-between m-auto mt-10 px-5">
      <div class="flex">
        <p class="material-icons pr-1">calendar_month</p>
        <p class="pr-2"> First day of the trip: </p>
        <p class="pr-12 text-color6"> {{trip.start_date | date}}
        <p class="material-icons pr-1">calendar_month</p>
        <p class="pr-2"> Last day of the trip: </p>
        <p class="text-color6"> {{trip.end_date | date}}</p>
      </div>
      <div class="flex items-center">
        <p class="material-icons">person</p>
        <p class="pr-2"> Price per person: </p>
        <p class="pr-14 text-color6">{{trip.price}}€</p>
        <button (click)="scroll(inscriptionForm)" class="bg-color1 p-2 text-white flex items-center justify-center text-[18px] hover:bg-color3 rounded-xl">
          Join the trip!
        </button>
      </div>
    </div>
  </div>
</div>

<div #inscriptionForm>
  <app-trip-inscription-form ></app-trip-inscription-form>
</div>

