<div class="h-full w-full bg-color7 py-32">
  <div class="w-full px-10 flex">
    <div class="w-full">
      <p class="text-color4 uppercase px-5">Fill the form</p>
      <p class="text-5xl font-secondary text-color3 px-5">Personal <span class="text-color1">Information</span></p>

      <form [formGroup]="tripInscriptionForm" (ngSubmit)="onSubmit()" (change)="formChanged()" class="w-[700px] space-y-8 py-8 mx-auto">
          <!-- Name, Surnames and DOB -->
          <div class="flex justify-between">
            <div class="w-[50%] pr-10">
              <label class="block text-color3 font-secondary">Name*</label>
              <input type="text" formControlName="name"
                     class="w-full p-2 border border-color3 rounded-md text-color6 mr-2">
            </div>
            <div class="w-[50%] pr-10">
              <label class="block text-color3 font-secondary">Surnames*</label>
              <input type="text" formControlName="surnames"
                     class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>
            <div class="w-[50%]">
              <label class="block text-color3 font-secondary">Date of Birth*</label>
              <input type="date" formControlName="dob"
                     class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>
          </div>

          <!-- Location -->
          <div class="flex justify-between">
            <div class="w-[33%] pr-10">
              <label class="block text-color3 font-secondary">Country*</label>
              <input type="text" formControlName="country"
                     class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>
            <div class="w-[33%] pr-10">
              <label class="block text-color3 font-secondary">City*</label>
              <input type="text" formControlName="city"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>
            <div class="w-[33%]">
              <label class="block text-color3 font-secondary">Address*</label>
              <input type="text" formControlName="address"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>
          </div>

          <!-- Contact info: Passport, email, phone -->
          <div class="flex justify-between">
            <div class="w-[33%] pr-10">
              <label class="block text-color3 font-secondary">Passport Id*</label>
              <input type="text" formControlName="passportId"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>

            <div class="w-[33%] pr-10">
              <label class="block text-color3 font-secondary">Email*</label>
              <input type="email" formControlName="email"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>

            <div class="w-[33%]">
              <label class="block text-color3 font-secondary">Phone</label>
              <input type="number" formControlName="phoneNumber"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
            </div>
          </div>

          <!-- How many people you bring -->
          <div>
            <label class="block text-color3 font-secondary">How many people are you bringing?*</label>
            <input type="number" formControlName="people" value="0"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
          </div>

          <!-- Allergies -->
          <div>
            <label class="block text-color3 font-secondary">Allergies</label>
            <input type="text" formControlName="allergies"
                   class="w-full p-2 border border-color3 rounded-md text-color6">
          </div>

          <!-- Questions (Optional) -->
          <div>
            <label class="block text-color3 font-secondary">Questions</label>
            <textarea formControlName="questions"
                      class="w-full h-32 p-2 border border-color3 rounded-md text-color6"></textarea>
          </div>

            <!-- Submit Button -->
            <div class="flex justify-between items-center">
              <p>{{formStatus}}</p>
              <button type="submit" class="px-5 py-2 w-[30%] bg-color1 text-white font-semibold rounded-md">
                Submit
              </button>
          </div>
      </form>
    </div>
  </div>
</div>
