<!DOCTYPE html>
<html lang="en">
<body class="font-primary">
    <div class="h-dvh bg-header bg-cover bg-no-repeat bg-center bg-color1 bg-blend-multiply bg-opacity-60" >
    <!-- This is the header of the front page -->
    <div class="w-full flex flex-wrap justify-center">
          <header class="w-[85%]  xl:w-[73%]  container hidden lg:flex justify-between h-[60px]  items-center py-[45px] border-b-[40px] border-white border-opacity-40">
            <nav class="h-[100%] md:w-[70%]">
                <ul class="h-[100%] flex items-center gap-8 justify-end">
                    <li class="list-none  "><a class="decoration-none text-white hover:text-color3 transition-all duration-500"
                            href="">Home</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">About</a></li>
                    <li class="list-none "><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Tours</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Destination</a></li>
                    <li class="list-none "><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Blog</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Gallery</a></li>
                    <li class="list-none"><a class="decoration-none text-white  hover:text-color3 transition-all duration-500"
                            href="">Contact</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <!-- This is title of the front page -->
    <div class="w-full flex justify-center mt-[100px]">
      <div class="w-[700px] md:w-[900px] container">
          <p class="w-full text-center uppercase text-white tracking-widest [word-spacing:8px] mb-4">Lets travel the world with us</p>
          <h1 class="w-full text-center text-white text-5xl md:text-7xl font-secondary uppercase tracking-widest">Explore The World With <span class="travol">YATRAS</span></h1>
      </div>
    </div>
    <!-- This is the selection of tour -->
    <section class="w-full justify-center mt-[100px] lg:flex relative">
        <div class=" bg-white bg-opacity-40 container absolute w-[1000px] xl:w-[1200px] h-[100px] flex justify-center items-center backdrop-blur-lg">
                <div class="w-[950px] xl:w-[1100px]  container h-auto absolute m-[10px]  ">
                        <form action="" class="flex font-primary">
                             <select name="" id="" class="w-full py-5 bg-white  ps-5" >
                                 <option value="dest" selected   class="bg-color1 text-white">Age range</option>
                                 <option value="it" class="text-stone-600" >25-35</option>
                                 <option value="it" class="text-stone-600" >+35</option>
                             </select><br>
                             <select name="" id="" class="w-full py-5 bg-white  ps-5" >
                                <option value="dest" selected   class="bg-color1 text-white">Destination</option>
                                <option value="it" class="text-stone-600" >Thailand</option>
                             </select><br>
                             <select name="" id="" class="w-full py-5 bg-white  ps-5" >
                                 <option value="du" selected   class="bg-color1 text-white">Duration</option>
                                 <option value="it" class="text-stone-600" >1 week tour</option>
                                 <option value="fr" class="text-stone-600">2 weeks tour</option>
                             </select><br>
                               <a href="" role="button" class="bg-color1 w-[25%] text-white flex items-center justify-center text-[18px] hover:bg-color3 transition-all duration-500" ><i class="bi bi-search me-2"></i>Find Now</a>
                        </form>
                </div>
        </div>
   </section>
  </div>
</body>
