<div class="w-full h-full flex justify-center bg-color7 py-8">
  <div class="w-full container 2xl:px-36">
    <div>
      <p class="text-color4 uppercase px-5">Choose your place</p>
      <p class="text-5xl font-secondary text-color3 px-5">Available <span class="text-color1">Tours</span></p>
      <mat-grid-list *ngFor="let trip of getTrips()"
                     cols="3"
                     rowHeight="1:1" [gutterSize]="'20px'"
                     class="w-full md:justify-between gap-10 px-6 xl:px-0 py-8 lg:px-3 ">
        <mat-grid-tile>
          <figure class="w-full h-full relative photo transition-all duration-1000 ">
            <div class="w-[100%] h-[100%] bottom-photo absolute bg-white flex flex-col justify-center px-5">
              <p class="text-3xl text-color3 capitalize font-secondary">{{trip.name}}</p>
              <p class="text-color1 mb-4">{{trip.price}}€ / per person</p>
              <p class="text-color6 overflow-hidden">{{trip.description}}</p>
              <div class="flex flex-wrap my-4">
                Dates: <div class="w-[80%] whitespace-nowrap overflow-hidden">
                          <i class="bi bi-clock text-color4"></i>
                          <p class="text-color6 ms-2">{{trip.start_date}} to {{trip.end_date}}</p>
                      </div>
                <div class="w-full flex overflow-hidden justify-between">
                  <div>Country: {{trip.country}}</div>
                  <div>Group: {{trip.num_people}}</div>
                </div>
              </div>
              <a [routerLink]="['/trip']" class="underline decoration-color1 text-color6 flex mb-2">Tour details</a>
            </div>
            <img src="assets/img/{{trip.country}}/thumbnail.jpg" alt="" class="h-full w-full object-cover brightness-75 absolute">
            <p class="absolute uppercase text-white bg-color3 px-4 py-1 right-1 top-12 rotate-[-90deg] ">{{trip.country}}</p>
            <figcaption class="absolute text-white bottom-8 right-10 fig">
              <p class="capitalize font-secondary text-3xl">{{trip.name}}</p>
              <p class="text-right">{{trip.price}}€ / per person</p>
          </figcaption>
        </figure>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
